*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/NyARToolKit\ for\ Android/build
/NyARToolKit\ for\ Android\ -Utils/build
ImagePickup/build
MarkerPlane/build
SimpleLite/build
*.swp
Detector/build

